{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-6xl font-bold text-gray-900">日本語で平和主義に流行りのシステム載せてみる</h1>
    <p class="text-right">일본어로 부유한 분들의 유행하는 자유롭고 개방적인 개발을 올려봅니다.</p>
    <a href="{{ url_for('moves') }}" class="text-base text-white bg-blue-500 px-4 py-2 mt-4 inline-block rounded hover:bg-blue-700">
        今までの作品
    </a>
    
    <p></p>
    <a href="{{ url_for('project') }}" class="text-base text-white bg-blue-500 px-4 py-2 mt-4 inline-block rounded hover:bg-blue-700">
        これからの作品
    </a>
    
</div>

{% endblock %}
